<header class="header">
  <div class="header__left">菊田湧平 Portfolio</div>
  <section class="header__right">
    <div class="header__right__list">
      <div class="header__right__list__contents">
        <a class="contents__list" href="#link-to-about-me">about me</a>
        <a class="contents__list" href="#works">works</a>
        <a class="contents__list" href="#">and more</a>
      </div>
    </div>
    <div class="header__right__menu">
    <!-- ここからハンバーガーメニュー -->
      <div class="header__right__menu__nav-drawer">
      <!-- htmlの既存のcheckboxを使用し、cssでdisplay:none; -->
        <input id="nav-input" type="checkbox" class="header__right__menu__nav-drawer__nav-unshown">
        <label id="nav-open" for="nav-input">
        <!-- cssでbefore,afterの擬似要素を使用して、3本の線を表示 -->
          <span></span>
        </label>
        <!-- ハンバーガーをクリックした後の内容部分 -->
        <label class="header__right__menu__nav-drawer__nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">内容</div>
      </div>
      <!-- ハンバーガーメニューここまで -->
    </div>
  </section>
</header>

<div class="top-page">
  <p class="top-page__title">Yuhei kikuta<br><span>portfolio</span></p>
  <a href="#link-to-about-me" class="top-page__btn">about me</a>
</div>

<div class="about-me" id="link-to-about-me">
  <div class="about-me__title">
    <div class="about-me__title__back-text">about me</div>
      <div class="about-me__title__front-text">about me</div>
      <div class="about-me__title__under-bar"></div>
  </div>
  <div class="about-me__content">
    <div class="about-me__content__left">
      <%= image_tag asset_path("aboutme.png") ,class:"about-me__content__left__profile-image"%>
    </div>
    <div class="about-me__content__right">
      <div class="about-me__content__right__block">
        <i class="fas fa-user icon"></i>
        <div class ="about-me__content__right__block__title">パーソナル情報</div>
        <div class="about-me__content__right__block__info">
          <div class ="about-me__content__right__block__info__text">
          菊田湧平（きくたゆうへい）<br>1996年2月26日生まれ
          </div>
        </div>
      </div>
      <div class="about-me__content__right__block">
        <i class="fas fa-running icon"></i>
        <div class ="about-me__content__right__block__title">経歴</div>
        <ul class="about-me__content__right__block__info">
          <li class ="about-me__content__right__block__info__text">2018年3月：横浜国立大学卒
          </li>
          <li class ="about-me__content__right__block__info__text">2018年4月：都内税理士法人 入社
          </li>
          <li class ="about-me__content__right__block__info__text">頑張って働いていました。
          </li>
          <li class ="about-me__content__right__block__info__text">これからも頑張ります
          </li>
        </ul>
      </div>
      <div class="about-me__content__right__block">
        <i class="far fa-hand-point-up icon"></i>
        <div class ="about-me__content__right__block__title">プログラミング学習
        </div>
        <ul class="about-me__content__right__block__info">
          <li class ="about-me__content__right__block__info__text">html,css,Ruby,Ruby on Rails,JavaScript,jQuery
          </li>
          <li class ="about-me__content__right__block__info__text">頑張って勉強してます。
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="works">
  <div class="works__title">    
    <div class="works__title__back-text">works</div>
      <div class="works__title__front-text">works</div>
      <div class="works__title__under-bar"></div>
  </div>
  <div class="works__content">
    <div class="works__content__title">Tax-Support</div>
  </div>
</div>
