<div class="home--wrapper">
  <p class="home--wrapper">今日の日付：<%= @now %></p>
  <h1 class="home--wrapper__title">会計事務所のデータベース</h1>
  <div class="home--wrapper__company-choice">
    <%= link_to "会社選択", companies_path,class:"home--wrapper__company-choice__btn" %>
  </div>
  
</div>