<header>
  <h1><a href="#">portfolio</a></h1>
  <nav>
    <ul class="header-links">
      <li class="header-link"><a href="#">about me</a></li>
      <li class="header-link"><a href="#">Ruby</a></li>
      <li class="header-link"><a href="#">Rails</a></li>
      <li class="header-link"><a href="#">JavaScript</a></li>
      <li class="header-link"><a href="#">React</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="fv-section">
    <p class="main-copy">about-me</p>
    <p class="fv-text">内容</p>
    <a href="#" class="cta-btn">内容2</a>
  </section>
</main>

<section class="card-section">
  <h2 class="card-section-title">作成アプリ</h2>
  <ul class="card-list">
    <li class="card-item">
      <div class="card-img">
        <h3>ブラックジャック(Ruby)</h3>
      </div>
      <p class="card-text">説明</p>
    </li>
    <li class="card-item">
      <div class="card-img">
        <h3>何かしら(Rails)</h3>
      </div>
      <p class="card-text">説明</p>
    </li>
    <li class="card-item">
      <div class="card-img">
        <h3>何かしら(React)</h3>
      </div>
      <p class="card-text">説明</p>
    </li>
  </ul>
</section>

<footer>
  <small>all rights reserved</small>
</footer>