<div class="company--menu">
  <%= render 'shared/company-info' %>
  <h1 class="company--menu__title">Menu</h1>
  <div class="container">
    <div class="schedule-box">
      <%= link_to company_schedules_path(@company),class:"link" do %>
        <div class="content">
          <i class="far fa-building icon"></i>
          <h1 class="title">納税スケジュール</h1>
          <p class="text">過去の納税金額を元に、納税スケジュールを表示します。</p>
        </div>
      <% end %>
    </div>
    <div class="future-box">
      <%= link_to company_future_taxes_path(@company),class:"link" do %>
        <div class="content">
          <i class="fas fa-hand-holding-usd icon"></i>
          <h1 class="title">法人税予測</h1>
          <p class="text">将来の法人税の予測をサポートします。</p>
        </div>
      <% end %>
    </div>
  </div>
</div>