@media screen and (max-width:639px){
  .header__right__list{
    display: none;
  }
}

@media screen and (min-width:639px){
  .header__right__menu{
    display: none;
  }
  .about-me__content{
    display: flex;
    &__left{
      width: 40%;
    }
    &__right{
      width: 60%;
    }
  }
}