// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$hoverBgColor : #185f87;
$hoverBgColor2: #2eb2f4;
.home--wrapper{
  &__title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
  }
  &__company-choice{
    width: 100%;
    display: flex;
    justify-content: center;
    

    &__btn{
      text-decoration: none;
      display: inline-block;
      padding: 0.5em 1em;
      background-color: $hoverBgColor2;
      color: white;
      border-bottom: solid 4px $hoverBgColor;
      border-radius: 3px;
      margin: 0 auto;
    }
    &__btn:active {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }
  }
}
